.btn {
  display: inline-flex;
  align-items: center;
  padding: 0px 1.6rem;
  line-height: 4.1rem;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid transparent;
  transition: all 0.3s;

  img {
    margin-right: 0.8rem;
  }

  &-primary {
    background-color: $primary-default;
    border-color: $primary-default;

    &:hover {
      background-color: $primary-light;
      border-color: $primary-light;
    }
  }

  &-outline {
    border-color: #ffffff;
    &:hover {
      color: $neutral-200;
      background-color: #ffffff;
    }
  }
}

.game-card {
  display: block;
  width: 100%;
  max-width: 28rem;

  .image {
    overflow: hidden;
    height: 38.3rem;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2.4rem;

    img {
      transition: transform 0.3s ease-in;
    }
  }
  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }
  }

  .info {
    h3 {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #e5e5e5;
      margin-bottom: 0.4rem;
    }

    span {
      font-size: 1.4rem;
      color: rgba(229, 229, 229, 0.8);
      line-height: 2.1rem;
    }
  }
}
